.about-us {
  width: 320px;
  margin: 0 auto;
  padding-top: 5px;
}

.about-us__wrapper {
  margin: 0 auto;
  padding: 0 30px;
}

.about-us-title {
  margin-bottom: 25px;
  .font-black-bold ();
}

.about-us__features {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us__item {
  position: relative;
  margin-bottom: 30px;
  .font-black-bold (17px, 20px);
}

.about-us__item > span {
  display: block;
  padding-top: 53px;
}

.about-us__item.about-us__eco > span {
  padding-top: 59px;
  padding-right: 78px;
}

.about-us__item.about-us__price > span {
  padding-right: 53px;
}

.about-us__item.about-us__heart > span {
  padding-right: 90px;
}

.about-us__item.about-us__ball > span {
  padding-right: 39px;
}

.about-us__item.about-us__rocket > span {
  padding-right: 3px;
}

.about-us__item.about-us__present > span {
  padding-right: 50px;
}

.about-us__item-img {
  fill: @mint-color;
  position: absolute;
  top: 0;
  left: 0;
}

.about-us__eco > .about-us__item-img {
  padding-left: 8px;
}

// .about-us__price > .about-us__item-img {

// }

.about-us__heart > .about-us__item-img {
  padding-top: 5px;
}

.about-us__ball > .about-us__item-img {
  padding-left: 3px;
  padding-top: 1px;
}

.about-us__rocket > .about-us__item-img {
  padding-top: 3px;
}

.about-us__present > .about-us__item-img {
  padding-left: 3px;
}

@media (min-width: 768px) {
  .about-us {
    width: 768px;
    padding: 14px 50px 78px;
  }

  .about-us__wrapper {
    padding: 0;
  }

  .about-us__features {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 436px;
  }

  .about-us-title {
    .font-black-bold (43px, 50px);
  }

  .about-us__item {
    width: 50%;
    margin-bottom: 34px;
    .font-black-bold (20px, 22px);
  }

  .about-us__item span {
    padding-top: 77px;
  }

  .about-us__item.about-us__eco > span {
    padding-top: 77px;
  }

  .about-us__item.about-us__eco {
    order: 1;
  }

  .about-us__item.about-us__price {
    order: 3;
  }

  .about-us__item.about-us__heart {
    order: 5;
  }

  .about-us__item.about-us__ball {
    order: 2;
  }

  .about-us__item.about-us__rocket {
    order: 4;
  }

  .about-us__item.about-us__present {
    order: 6;
  }

  .about-us__item.about-us__price > span {
    padding-right: 70px;
  }

  .about-us__item.about-us__heart > span {
    padding-right: 90px;
  }

  .about-us__item.about-us__ball > span {
    padding-right: 60px;
  }

  .about-us__item.about-us__rocket > span {
    padding-right: 20px;
  }

  .about-us__item.about-us__present > span {
    padding-right: 65px;
  }
}

@media (min-width: 1150px) {
  .about-us {
    width: 1150px;
    padding: 43px 50px 78px;
  }

  .about-us__wrapper {
    padding-left: 175px;
  }

  .about-us-title {
    .font-black-bold (53px, 57px);
  }

  .about-us__item {
    width: 50%;
    margin-bottom: 36px;
  }

  .about-us__item.about-us__eco {
    width: 350px;
  }

  .about-us__item.about-us__price {
    width: 350px;
  }

  .about-us__item.about-us__heart {
    width: 350px;
  }

  .about-us__item.about-us__ball {
    width: 350px;
  }

  .about-us__item.about-us__rocket {
    width: 350px;
  }

  .about-us__item.about-us__present {
    width: 350px;
  }

  .about-us__item.about-us__eco > span {
    padding-right: 110px;
  }

  .about-us__item.about-us__price > span {
    padding-right: 110px;
  }

  .about-us__item.about-us__heart > span {
    padding-right: 110px;
  }

  .about-us__item.about-us__ball > span {
    padding-right: 80px;
  }

  .about-us__item.about-us__rocket > span {
    padding-right: 50px;
  }

  .about-us__item.about-us__present > span {
    padding-right: 85px;
  }
}
