.btn {
  display: block;
  padding: 14px 0;
  border: 2px solid @text-grey-color;
  text-transform: uppercase;
  text-align: center;
  .font-grey-bold ();
  .transition-btns ();

  &--main-order {
    margin-bottom: 45px;
  }

  &--write-review {
    margin-bottom: 44px;
  }

  &--write-us {
    width: 260px;
    margin: 0 auto 39px;
  }

  &--make-order {
    margin: 0 5px 32px;
  }

  &--order-submit {
    width: 100%;
    margin-bottom: 55px;
    background-color: @white-color;
  }

  &--popup {
    background-color: @mint-color;
    border-color: @mint-color;
    color: @white-color;
    width: 100%;
  }

  &:hover {
    background-color: @text-grey-color;
    color: @white-color;
    cursor: pointer;
  }

  &:active {
    background-color: @text-grey-color;
    color: rgba(255, 255, 255, 0.3);
  }

  &:focus {
    outline: none;
  }

  &--popup:hover {
    background-color: #149080;
    border-color: #149080;
  }
}

@media (min-width: 768px) {
  .btn {
    &--main-order {
      width: 291px;
      margin-top: 6px;
      margin-bottom: 69px;
    }

    &--write-review {
      position: absolute;
      top: 80px;
      right: 50px;
      width: 175px;
    }

    &--write-us {
      margin: 0 auto 57px;
      width: 230px;
    }

    &--order-submit {
      order: 0;
      width: 230px;
    }

    &--make-order {
      margin: 0px 34px 20px 28px;
    }
  }
}

@media (min-width: 1150px) {
  .btn {
    &--order-submit {
      margin-left: 175px;
    }

    &--write-us {
      margin: 50px 0 104px;
    }

    &--make-order {
      align-self: flex-end;
      margin: 48px 46px 0 0;
      padding: 14px 41px;
    }

    &--write-review {
      top: 124px
    }
  }
}
