.developers {
  display: flex;
  align-items: center;
  border-top: 1px solid @footer-grey-color;
  border-bottom: 1px solid @footer-grey-color;
}

.developers__title {
  margin: 5px 0 0 39px;
  .font-black-bold (19px, 18px);
}

.developers__link img {
  display: block;
}
