.form-order__fieldset {
  margin-bottom: 10px;

  &--color,
  &--color > *:last-child {
    margin-top: 6px;
    margin-bottom: 0;
  }

  &--initials > .form-order__legend {
    margin-top: 33px;
    margin-bottom: 7px;
  }

  &--tel {
    margin-bottom: 32px;
  }

  &--tel > .form-order__legend {
    margin-top: 23px;
  }

  &--email {
    margin-bottom: 33px;
  }

  &--adds > .form-order__legend {
    margin-top: 0;
  }
}

.form-order__input {
  .font-grey-normal (19px, 18px);
  transition-duration: 0.15s;

  &:hover {
    border-color: @mint-color;
  }

  &:focus {
    outline: none;
    border-color: @mint-color;
  }

  &::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &:focus + .form-order__tel-img,
  &:focus + .form-order__email-img,
  &:hover + .form-order__tel-img,
  &:hover + .form-order__email-img {
    fill: @mint-color;
    opacity: 1;
  }
}

.form-order__legend {
  position: relative;
  display: block;
  width: 100%;
  margin: 24px 0 11px;
  .font-mint ();

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 62px;
    height: 1px;
    transform: translateY(-50%);
    background-color: @mint-color;
  }

  &--checkbox {
    margin-top: 0;
    margin-bottom: 24px;
    padding-top: 27px;
  }

  &--checkbox::before {
    top: 35px;
  }
}

.form-order__legend > span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 21px;
  background-color: @white-color;
}

.form-order__radio-container {
  margin-bottom: -5px;
  padding-left: 60px;
}

.form-order__label-radio {
  position: relative;
  display: block;
  padding: 21px 0 5px 2px;
  .font-black-bold (17px, 18px);
  line-height: 1.2;

  &::before {
    content: "";
    position: absolute;
    top: 32px;
    left: -60px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid @text-grey-color;
    background-color: @white-color;
    cursor: pointer;
    transition-duration: 0.15s;
  }

  &:hover::before {
    border-color: @mint-color;
  }

  &:focus::before {
    outline: none;
    border-color: @mint-color;
  }

  &:active::before {
    border-color: @text-grey-color;
    opacity: 0.3;
  }
}

.form-order__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &:checked + .form-order__label-radio::after {
    content: "";
    position: absolute;
    top: 32px;
    left: -48px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
    border-radius: 100%;
    background-color: @mint-color;
    cursor: pointer;
  }

  &:disabled + .form-order__label-radio {
    opacity: 0.3;
  }
}

.form-order__checkbox-container {
  margin-bottom: 21px;
  padding-left: 60px;
}

.form-order__label-checkbox {
  position: relative;
  display: block;
  padding: 10px 0 10px 2px;
  .font-black-bold (17px, 18px);
  line-height: 1.2;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -60px;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    background-color: @white-color;
    border: 2px solid @text-grey-color;
    cursor: pointer;
    transition-duration: 0.15s;
  }

  &:hover::before {
    border-color: @mint-color;
  }

  &:focus::before {
    outline: none;
    border-color: @mint-color;
  }

  &:active::before {
    border-color: @text-grey-color;
    opacity: 0.3;
  }
}

.form-order__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &:checked + .form-order__label-checkbox::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -50px;
    width: 22px;
    height: 16px;
    transform: translateY(-50%);
    background: transparent url("../img/icon-tick.svg") 0 0 no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  &:disabled + .form-order__label-checkbox {
    opacity: 0.3;
  }
}

.form-order__initials-container {
  position: relative;
  display: block;
}

.form-order__label-initials {
  display: inline-block;
  vertical-align: top;
  margin-top: 21px;
  margin-bottom: 6px;
  .font-black-bold (17px, 18px);
}

.form-order__initials {
  width: 100%;
  height: 46px;
  border: 0;
  border-bottom: 2px solid @black-color;
}

.form-order__label-tel,
.form-order__label-email {
  position: relative;
  display: block;
  margin-bottom: 15px;
}

.form-order__tel,
.form-order__email {
  position: relative;
  width: 100%;
  padding-right: 40px;
  border: 0;
  border-bottom: 2px solid @black-color;
}

.form-order__tel {
  height: 47px;
}

.form-order__email {
  height: 48px;
}

.form-order__tel-img,
.form-order__email-img {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 10px;
  transform: translateY(-50%);
  opacity: 0.2;
}

.form-order__tel-img {
  margin-top: -6px;
  margin-right: 8px;
}

.form-order__email-img {
  margin-top: -2px;
  margin-right: 5px;
}

.form-order__textarea {
  width: 100%;
  height: 142px;
  margin-top: 12px;
  padding: 14px 15px;
  line-height: normal;
  border: 2px solid @black-color;
  resize: none;
}

.form-order__note {
  margin-top: 0;
  margin-bottom: 32px;
  .font-grey-normal (14px, 16px);
}

@media (min-width: 768px) {
  .form-order__fieldset {
    display: flex;
    flex-wrap: wrap;

    &--type {
      margin-bottom: 30px;
    }

    &--color {
      margin-bottom: 27px;
    }

    &--color > *:nth-child(2),
    &--color > *:nth-child(3) {
      margin-top: 46px;
    }

    &--color > *:nth-child(n+2) {
      flex-grow: 1;
    }

    &--color > *:nth-child(2n) {
      flex-basis: 157px;
    }

    &--color > *:nth-child(2n+1):not(.form-order__legend) {
      flex-basis: 145px;
    }

    &--color > *:nth-child(2n+4) {
      margin-left: 167px;
    }

    &--color > *:last-child {
      margin-top: 0;
    }

    &--initials {
      margin-bottom: 1px;
      margin-top: 45px;
    }

    &--initials > .form-order__legend {
      margin-top: 21px;
      margin-bottom: 0;
    }

    &--tel {
      margin-bottom: 0;
    }

    &--tel > .form-order__legend {
      margin-top: 15px;
    }

    &--email {
      margin-top: 6px;
    }

    &--adds {
      margin-top: 51px;
      margin-bottom: 53px;
    }

    &--adds > .form-order__legend {
      margin-top: 20px;
    }
  }

  .form-order__fieldset > *:nth-child(n+2) {
    flex-grow: 1;
  }

  .form-order__fieldset:not(.form-order__fieldset--color) > *:nth-child(n+3) {
    margin-left: 167px;
  }

  .form-order__legend {
    width: 25%;
    margin: 20px 0 11px;

    &::before {
      content: initial;
    }

    &--checkbox {
      flex-basis: 168px;
      padding-top: 44px;
    }
  }

  .form-order__legend > span {
    background-color: transparent;
  }

  .form-order__radio-container {
    padding-left: 81px;
  }

  .form-order__label-radio {
    padding-bottom: 41px;
    .font-black-bold (19px, 18px);

    &::before {
      left: -81px;
      width: 52px;
      height: 52px;
    }
  }

  .form-order__radio:checked + .form-order__label-radio::after {
    left: -66px;
    width: 22px;
    height: 22px;
  }

  .form-order__checkbox-container {
    margin-bottom: 23px;
  }

  .form-order__label-checkbox {
    padding: 16px 0 19px 21px;
    .font-black-bold (19px, 18px);

    &::before {
      top: 26px;
      width: 52px;
      height: 52px;
      background-color: @bg-grey-color;
    }
  }

  .form-order__checkbox:checked + .form-order__label-checkbox::after {
    top: 25px;
    width: 33px;
    height: 23px;
  }

  .form-order__initials-container {
    display: flex;
    margin-top: 9px;
    margin-bottom: 21px;
  }

  .form-order__label-initials {
    margin-top: 12px;
    margin-right: 26px;
    .font-black-bold (19px, 18px);
  }

  .form-order__initials {
    padding-left: 18px;
  }

  .form-order__tel-email-container {
    margin-top: 33px;
    padding-top: 50px;
  }

  .form-order__label-email {
    margin-top: 8px;
  }

  .form-order__email {
    padding-left: 18px;
    padding-right: 55px;
    background-color: @bg-grey-color;
  }

  .form-order__email-img {
    margin-top: -2px;
    margin-right: 23px;
  }

  .form-order__tel {
    padding-left: 18px;
    padding-right: 52px;
    background-color: @bg-grey-color;
  }

  .form-order__tel-img {
    margin-top: -5px;
    margin-right: 26px;
  }

  .form-order__textarea {
    width: 75%;
    margin-top: 3px;
  }

  .form-order__footer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }

  .form-order__note {
    order: 1;
    margin-top: 8px;
    margin-left: 139px;
    .font-grey-normal (17px, 30px);
  }

  .form-order__background-container {
    background-color: @bg-grey-color;
  }
}

@media (min-width: 1150px) {
  .form-order__fieldset {
    align-items: baseline;

    &--type {
      margin-bottom: 27px;
    }

    &--type > .form-order__legend > span {
      margin-top: 0;
    }

    &--color > .form-order__checkbox-container:not(:first-child) {
      margin-left: 0;
    }

    &--color > .form-order__checkbox-container:nth-child(3n+2) {
      margin-left: 175px;
    }

    &--color > .form-order__checkbox-container:nth-child(n+1) {
      min-width: 263px;
    }

    &--color > .form-order__checkbox-container:nth-child(2) {
      margin-left: -10px;
    }

    &--color > :nth-child(2),
    &--color > :nth-child(3) {
      margin-top: 44px;
    }

    &--tel > .form-order__legend {
      margin-left: -3px;
    }

    &--email > .form-order__legend {
      margin-left: 1px;
      padding-left: 23px;
    }

    &--email > .form-order__legend > span {
      margin-top: 0;
    }

    &--adds {
      margin-top: 50px;
    }
  }

  .form-order__fieldset > *:nth-child(n+2) {
    flex-grow: 0;
    width: 700px;
  }

  .form-order__fieldset:not(.form-order__fieldset--color) > *:nth-child(n+3) {
    margin-left: 175px;
  }

  .form-order__legend {
    width: 175px;
    margin: 0;
    padding-left: 10px;
    text-align: center;

    &--checkbox {
      min-width: 185px;
    }

    &--checkbox > span {
      margin-top: -1px;
    }
  }

  .form-order__legend > span {
    margin-top: -4px;
  }

  .form-order__note {
    margin-top: 6px;
    margin-right: 189px;
    margin-left: auto;
  }

  .form-order__tel-img,
  .form-order__email-img {
    margin-right: 5px;
  }

  .form-order__label-radio {
    padding: 17px 0 46px 2px;

    &::before {
      top: 27px;
    }
  }

  .form-order__radio:checked + .form-order__label-radio::after {
    top: 27px;
  }
}
