// .main-fearures {

// }

.main-fearures__wrapper {
  margin: 0 auto;
}

.main-features__title {
  margin-top: 72px;
  .font-black-bold (27px, 30px);
}

.main-features__interier,
.main-features__toys {
  height: 103px;
  font-size: 19px;
  line-height: 24px;
  color: @white-color;
  font-weight: bold;
}

.main-features__interier {
  margin-top: 28px;
  background-color: @mint-color;
}

.main-features__toys {
  background-color: @dark-mint-color;
}

