.main-product {
  padding-top: 30px;
}

.main-product__wrapper {
  margin: 0 auto;
  padding: 0 30px;
}

.main-product__title {
  margin-bottom: 3px;
  .font-black-bold ();
}

.main-product__subtitle {
  margin-bottom: 27px;
  .font-mint (17px, 20px);
}

.main-product__desc {
  margin-bottom: 30px;
  .font-grey-normal (15px, 24px);
}

.main-product__img {
  margin-bottom: 27px;
}

.main-product__price {
  margin-bottom: 27px;
  .font-grey-bold (17px, 24px);
}
