.main-switchers {
  display: flex;
  height: 52px;
  margin-bottom: 38px;
}

.main-switcher-btn {
  width: 50%;
  padding: 12px 11px 10px;
  border: 1px solid @light-grey-color;
  background: none;
  cursor: pointer;
  .transition-btns ();
}

.main-swicther-btn--prev:hover svg,
.main-swicther-btn--next:hover svg {
  opacity: 0.6;
}

.main-swicther-btn--prev:active svg,
.main-swicther-btn--next:active svg {
  opacity: 0.3;
}

.main-swicther-btn--next {
  border-left: none;
}

@media (min-width: 768px) {
  .main-switchers {
    position: absolute;
    right: 58px;
    bottom: 47px;
    margin-bottom: 0;
  }

  .main-switcher-btn {
    width: 72px;
    height: 49px;
    border: none;
  }

  .main-swicther-btn--next {
    margin-left: 15px;
  }
}

@media (min-width: 1150px) {
  .main-switchers {
    bottom: 98px;
  }
}
