.page-header {
  width: initial;
  height: 80px;
  margin: 0 auto;
  border-top: 1px solid @light-grey-color;
  border-bottom: 1px solid @light-grey-color;
  background-color: @white-color;
}

@media (min-width: 768px) {
  .page-header {
    height: 89px;
  }
}
