.page-header {
  min-height: 80px;
  border-bottom: 1px solid @light-grey-color;
}

.page-header__wrapper {
  margin: 0 auto;
  padding: 0 30px;
}

.page-header__title {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

.page-header__logo {

}
