.page-main__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.page-main__header {
  height: 174px;
  background-color: @bg-grey-color;
}

.page-main__title {
  margin: 0;
  padding-top: 71px;
  text-align: center;
  .font-black-bold (27px, 30px);
}

.page-main__promo-text {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 25px;
  .font-grey-normal (13px, 24px);
}

@media (min-width: 768px) {
  .page-main {
    width: initial;
  }

  .page-main__wrapper {
    width: 768px;
    padding: 0 50px;
  }

  .page-main__header {
    position: relative;
    height: 230px;
    background-color: @bg-grey-color;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -6px;
      display: block;
      height: 23px;
      background: url("/img/bg-zigzag-fill.svg") 0 0 repeat-x;
      background-size: cover;
    }
  }

  .page-main__title {
    padding-top: 95px;
    .font-black-bold (43px, 50px);
  }

  .page-main__promo-text {
    margin-top: 4px;
    margin-bottom: 52px;
    padding-top: 64px;
    .font-grey-normal (17px, 30px);
  }
}

@media (min-width: 1150px) {
  .page-main {
    position: relative;
  }

  .page-main__wrapper {
    width: 1150px;
  }

  .page-main__header {
    height: 252px;
  }

  .page-main__title {
    .font-black-bold (53px, 57px);
  }

  .page-main__promo-text {
    padding-top: 123px;
    margin: 1px 175px 55px;
  }
}
