.page-main {
  margin-bottom: 55px;
}

.page-main__wrapper {
  margin: 0 auto;
  padding: 0 30px;
}

.page-main__header {
  min-height: 177px;
}

.page-main__title {
  .font-black-bold (27px, 30px);
}
