.social-links {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 0;
  padding: 23px 0 12px;
  list-style: none;
  text-align: center;
}

.social-link {
  margin: 0 20px;
  .transition-btns ();
}

.social-link:hover svg {
  fill: @light-mint-color;
}

.social-link:active svg {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .social-links {
    margin-left: 120px;
    padding: 26px 0 25px;
  }
}
